<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Registro de Taller</title>
</head>
<body>
<h2>Registrar Taller</h2>

<form th:action="@{/taller/guardar_taller}" method="post">
    <table>
        <tbody>
            <tr>
                <td>Nombre del taller:</td>
                <td><input type="text" name="nombreTaller" required></td>
            </tr>
            <tr>
                <td>Division:</td>
                <td>
                    <select name="id_division" required>
                        <option value="">-- Elige una division --</option>
                        <option th:each="division : ${lista_divisiones}" th:value="${division.id_division}" th:text="${division.nombre_division}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Guardar"></td>
            </tr>
        </tbody>
    </table>
</form>

<form th:action="@{/}" method="post">
    <input type="submit" value="Regresar al Inicio">
</form>
</body>
</html>